* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one, .two, .three {
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    color: black;
    margin-top: 10px;
    min-width: 30%;
}

.one button {
    margin-top: 10px;
}

body {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-image: url(../images/hot-vs-cold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgb(117, 180, 252);
    padding: 30px;
    border: 2px solid black;
    color: black;
}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer {
    font-weight: bold;
    background-color: rgb(117, 180, 252);
    padding: 30px;
    border: 2px solid black;
    color: black;
}