* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: purple;
    border: 2px solid black;
    padding: 30px;
    letter-spacing: 2px;
    color: white;
    text-align: center;
}

body {
    background-color: aqua;
    font-family: "Faculty Glyphic", sans-serif;;
}

.add {
    margin: 30px;
}

#yarn-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

button, .add h2 {
    margin: 10px;
}

div {
    width: 250px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px rgb(121, 172, 249);
	background-color: rgb(247, 247, 247);
	border-radius: 5px;
}